<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulário de Cadastro</title>
    <!-- CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />

    <!-- JavaScript -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="./style.css" />
   
  </head>
  <body>
    <div class="container">

     
      
        <form action="#">
          <div class="form-head">
             <h1>Criar Conta</h1>
        
          </div>
          <div class="row">
            <div class="col">
              <label for="text" class="form-label1">Nome completo</label>
              <input
                type="text" id="nome"
                class="form-control"
                placeholder="Digíte seu nome completo" id="name"
                required
              />
            </div>

          
          </div>

          <div class="col">
            <label for="email" class="form-label"> Email</label>
            <input
              type="email" id="email"
              class="form-control"
              placeholder="Digíte seu email"
              id="email"
              required
            />
          </div>
          <div class="row">
              <div class="col">
                <label for="tell" class="form-label">Telefone</label>
                <input type="tell" class="form-control" id="tell" placeholder="(xx) xxxxx-xxxx" required>
              </div>
            </div>
          <div class="row">
            <div class="col">
              <label for="password" class="form-label">Senha</label>
              <input
                type="password"
                name="Password"
                class="form-control" placeholder="Digíte a senha"
                id="password"
                required
              />
            </div>

            <div class="col">
              <label for="password" class="form-label">Confirmar senha</label>
              <input
                type="password"
                name="confirmpassword"
                class="form-control" placeholder="Confirme a senha"
                id="confirmpassword"
                required
              />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button class="form-button">Criar Conta</button>
            </div>

            
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
